<div class="sign_in_up">
<section class="sign_in">
  <h1>Please Sign In</h1>

  <%= form_tag session_path do %>
  <div class="form_fields">
    <p>
      <%= label_tag :email %>
      <%= email_field_tag :email, params[:email] %>
    </p>

    <p>
      <%= label_tag :password %>
      <%= password_field_tag :password%>
    </p>
  <div>
  <p class="submit">
    <%= submit_tag "Log In" %>
  </p>

  <% end %>

  <p>Not a member? <%= link_to "Sign up here!", new_users_path %></p>

</section>
</div>
