<h1>Hi <%= current_user.name.capitalize %>.</h1>
<h2>You have <%= current_user.loyalty_points %>.</h2>
<h2>My Reservations</h2>
<% current_user.reservations.each do |reservation| %>
  <h3><%= reservation.restaurant.name %></h3>
  <p><%= reservation.date %> @ <%= reservation.time %></p>
  <p>For a party of <%= reservation.party_size %></p>
<% end %>

<% if current_user.restaurants.present? %>
  <h2>My Restaurants</h2>
  <% current_user.restaurants.each do |restaurant| %>
    <h3><%= restaurant.name %></h3>
    <% restaurant.reservations.each do |reservation| %>
      <ul>
        <li><%= reservation.user.name %></li>
        <li><%= reservation.date %> @ <%= reservation.time %></li>
        <li>For a party of <%= reservation.party_size %></li>
      </ul>
    <% end %>
    <% restaurant.users.order(loyalty_points: :desc).uniq.each do |user| %>
      <p><%= user.name %> | <%= user.loyalty_points %>
    <% end %>
  <% end %>
<% end %>
