<h1>Hi <%= current_user.name %></h1>

<h2>My Reservations</h2>
<% current_user.reservations.each do |reservation| %>
  <h3><%= reservation.restaurant.name %></h3>
  <p><%= reservation.date %> @ <%= reservation.time %></p>
  <p>For a party of <%= reservation.party_size %></p>
<% end %>

<% Restaurant.where(user_id: current_user).each do |restaurant| %>
  <h1><%= restaurant.name %></h1>
  <% restaurant.reservations.each do |reservation| %>
    <ul>
      <li><%= reservation.user.name %></li>
      <li><%= reservation.date %> @ <%= reservation.time %></li>
      <li>For a party of <%= reservation.party_size %></li>
    </ul>
  <% end %>
<% end %>
