<main>
  <section>
    <h1>Hi <%= current_user.name.capitalize %></h1>
    <h2>My Reservations</h2>
    <% current_user.reservations.each do |reservation| %>
    <h3><%= reservation.restaurant.name %></h3>
    <p><%= reservation.date %> @ <%= reservation.time %></p>
    <p>For a party of <%= reservation.party_size %></p>
    <% end %>
  </section>

  <% if current_user.restaurants.present? %>
  <section>

  <h2>My Restaurants</h2>
  <div class="owner-dashboard">
    <% current_user.restaurants.each do |restaurant| %>
    <div class="edit-links">
      <h3><%= restaurant.name %></h3>
      <p><%= link_to "Edit Restaurant", edit_restaurant_path(restaurant) %></p>
    </div>
    <% end %>
  </div>

    <% current_user.restaurants.each do |restaurant| %>
      <h3><%= restaurant.name %></h3>
      <% restaurant.reservations.each do |reservation| %>
        <ul>
          <li><%= reservation.user.name %></li>
          <li><%= reservation.date %> @ <%= reservation.time %></li>
          <li>For a party of <%= reservation.party_size %></li>
        </ul>
      <% end %>
    <% end %>
  </section>
  <% end %>
</main>
