<%= form_for([restaurant, reservation]) do |f| %>
<h1>Book a Reservation at <%= restaurant.name %></h1>
  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </p>

  <p>
    <%= f.label :time %>
    <%= f.select(:time, (restaurant.open_time..restaurant.close_time).to_a) %>
  </p>

  <p>
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
