<%= form_for reservation do |f| %>
  <p>
    <%= f.label :date %>
    <%= f.date_select :date %>
  </p>

  <p>
    <%= f.label :time %>
    <%= f.time_select :time %>
  </p>

  <p>
    <%= f.label :party_size %>
    <%= f.integer :party_size %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
