<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>SeatYourself</h1>
      <% if current_user %>
        <p>Hello, <%= current_user.name.capitalize %>!</p>
      <% end %>
    <nav>
      <%= link_to "Restaurants", root_path %>
      <% if current_user %>
        <%= link_to "My Profile",users_path(current_user) %>
        <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "Sign In", new_session_path %>
        <%= link_to "Sign Up", new_users_path %>
      <% end %>
    </nav>
  </header>

  <main>
    <% if flash[:notice]  %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
  </main>
  <footer>
    <h2>Made By:</h2>
    <section class="contributors">
      <div class="col">
        <h3>ABBY CHRISTENS</h3>
        <%= link_to image_tag("GitHub-Mark-Light-32px"), "https://github.com/achristens", :target => "_blank" %> <%= link_to image_tag("In-White-34px-R"), "https://www.linkedin.com/in/abigail-christens-8898bb30/" %>
      </div>
      <div class="col">
        <h3>JOSH DALES</h3>
        <%= link_to image_tag("GitHub-Mark-Light-32px"), "https://github.com/joshdales", :target => "_blank" %> <%= link_to image_tag("In-White-34px-R"), "https://www.linkedin.com/in/josh-dales-developer/" %>
      </div>
      <div class="col">
        <h3>ZACH JOB</h3>
        <%= link_to image_tag("GitHub-Mark-Light-32px"), "https://github.com/zachjob", :target => "_blank" %> <%= link_to image_tag("In-White-34px-R"), "https://www.linkedin.com/in/zachjob/" %>
      </div>
    </section>
  </footer>
</body>
</html>
